@font-face {
    font-family: Din;
    src: url(fonts/DIN_Next_LT_Arabic_Regular.ttf);
}

h1,h2,h3,h4,h5,h6,p,li,a,.hidden-sections{
    direction: rtl;
    text-align: right;
}

body {
    font-family: Lubalin;
}

p,li {
    /* font-size: clamp(2.5rem, 5vw, 5rem); */
}

#title {
    /* font-size: clamp(3.5rem, 7vw, 7rem); */
    padding: 13vh 0 0 0;
}

.buttons {
    font-size: clamp(1.5rem, 2.8vw, 3rem);
    margin-top: -8px;
}

.hidden-sections {
    margin: 2vw auto 0 auto;
    /* font-size: clamp(1.5rem, 2.5vw, 3rem); */
}

#quality-section ul {
    padding: 0 40px 0 0;
}

.hidden-sections button {
    /* font-size: clamp(1rem, 2.5vw, 3rem); */
}

#try-it-section {
    text-align: right;
}