/* ---------------------------------------------------------------------------------- */
/* ------------------------------- GENERAL THINGS ----------------------------------- */
/* ---------------------------------------------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    color: var(--text-color);
}

@font-face {
    font-family: Lubalin;
    src: url(fonts/LUBALINGRAPHITCTURNERARA-BD.TTF);
}

@font-face {
    font-family: Cunia;
    src: url(fonts/cunia.ttf);
}

@font-face {
    font-family: Avenir;
    src: url(fonts/avenir_roman_12.ttf);
}

:root {
    --bkg-color: #000000;
    --text-color: #FFFFFF;
    --gradient-purple: #544092;
    --gradient-blue1: #14a9e2;
    --gradient-blue2: #6dc2b4;
}

html,
body {
    overflow: hidden;
}

body {
    background-color: var(--bkg-color);
    padding: 30px;
    font-family: Cunia;
}

.gradient-text {
    background: linear-gradient(to top right, #544092 5%, #14a9e2 50%, #6dc2b4 100%);
    background: -webkit-linear-gradient(to top right, #544092 5%, #14a9e2 50%, #6dc2b4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

ul {
    padding-left: 40px;
}

p,
li {
    font-family: Avenir;
    font-size: clamp(1.25rem, 3vw, 3rem);
}

/* ---------------------------------------------------------------------------------- */
/* ------------------------------- MAIN SCREEN -------------------------------------- */
/* ---------------------------------------------------------------------------------- */
#bkg-back,
#bkg-front {
    position: absolute;
    right: 0;
    top: 0;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    z-index: -10;
    transition: transform 1s ease-in-out, filter 1s ease-in-out;
    -webkit-transition: transform 1s ease-in-out, filter 1s ease-in-out;
    -moz-transition: transform 1s ease-in-out, filter 1s ease-in-out;
    -ms-transition: transform 1s ease-in-out, filter 1s ease-in-out;
    -o-transition: transform 1s ease-in-out, filter 1s ease-in-out;
}

#bkg-front {
    display: none;
}

.main-screen {
    transition: opacity 200ms linear;
    -webkit-transition: opacity 200ms linear;
    -moz-transition: opacity 200ms linear;
    -ms-transition: opacity 200ms linear;
    -o-transition: opacity 200ms linear;
}

#title {
    padding: 0;
    padding-top: clamp(0, 10vh, 50px);
    margin: 0 auto;
    width: 100%;
    font-size: clamp(2rem, 5vw, 4rem);
    text-align: center;
    font-family: Lubalin;
    text-transform: uppercase;
    position: relative;
    animation: flicker 6s linear;
    -webkit-animation: flicker 6s linear;
}

#logo {
    display: block;
    position: absolute;
    top: 2%;
    left: 2%;
    width: 10vw;
    max-width: 150px;
}

#zinc-stamp {
    display: block;
    position: absolute;
    padding-top: 1vmin;
    top: 2%;
    right: 2%;
    width: 15vw;
    max-width: 270px;
    animation: stamp 0.5s cubic-bezier(.5, -0.01, 1, .19) 2s backwards;
    -webkit-animation: stamp 0.5s cubic-bezier(.5, -0.01, 1, .19) 2s backwards;
}

.buttons {
    width: fit-content;
    background: linear-gradient(to left, white 50%, #6dc2b4 50%, #14a9e2 75%, #544092 100%);
    background: -webkit-linear-gradient(to left, white 50%, #6dc2b4 50%, #14a9e2 75%, #544092 100%);
    background-size: 200% 100%;
    background-position: right;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0 auto;
    font-family: inherit;
    position: absolute;
    font-size: clamp(1rem, 2vw, 3vmin);
    transition: background-position 200ms ease, transform 1s ease, scale 1s ease, opacity 300ms ease;
    -webkit-transition: background-position 200ms ease, transform 1s ease, scale 1s ease, opacity 300ms ease;
    -moz-transition: background-position 200ms ease, transform 1s ease, scale 1s ease, opacity 300ms ease;
    -ms-transition: background-position 200ms ease, transform 1s ease, scale 1s ease, opacity 300ms ease;
    -o-transition: background-position 200ms ease, transform 1s ease, scale 1s ease, opacity 300ms ease;
    border-bottom: 2px solid white;
}

.buttons:hover {
    cursor: pointer;
    background-position: left !important;
}

.buttons:nth-of-type(4),
.buttons:nth-of-type(2) {
    background: linear-gradient(to right, white 50%, #6dc2b4 50%, #14a9e2 75%, #544092 100%);
    background: -webkit-linear-gradient(to left, white 50%, #6dc2b4 50%, #14a9e2 75%, #544092 100%);
    background-size: 200% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-position: left;
}

.buttons:nth-of-type(4):hover,
.buttons:nth-of-type(2):hover {
    background-position: right !important;
}

#language-switch {
    font-family: Lubalin;
    font-size: 1rem;
    width: 100px;
    height: 40px;
    position: absolute;
    bottom: 10%;
    left: 50%;
    text-decoration: none;
    color: white;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    background: linear-gradient(to top, #544092 0%, #14a9e2 25%, #6dc2b4 50%, transparent 50%);
    background-size: 100% 200%;
    background-position: top;
    border: 2px solid #14a9e2;
    border-radius: 1vw;
    -webkit-border-radius: 1vw;
    -moz-border-radius: 1vw;
    -ms-border-radius: 1vw;
    -o-border-radius: 1vw;
    transition: background-position 0.2s linear, color 0.4s linear;
    -webkit-transition: background-position 0.2s linear, color 0.4s linear;
    -moz-transition: background-position 0.2s linear, color 0.4s linear;
    -ms-transition: background-position 0.2s linear, color 0.4s linear;
    -o-transition: background-position 0.2s linear, color 0.4s linear;
}

#language-switch:hover {
    cursor: pointer;
    background-position: bottom;
}

/* ---------------------------------------------------------------------------------- */
/* ------------------------------- BUTTONS ------------------------------------------ */
/* ---------------------------------------------------------------------------------- */
#competition-btn {
    top: calc(50% - 21%);
    right: calc(50% + 22%);
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

#competition-svg {
    width: 17%;
    max-width: 240px;
    height: auto;
    position: absolute;
    top: calc(50% - 21%);
    right: 53%;
}

/*  */
#different-btn {
    top: calc(50% - 10%);
    left: calc(50% + 20%);
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

#different-svg {
    width: 14%;
    max-width: 200px;
    height: auto;
    position: absolute;
    top: calc(50% - 10%);
    left: 54%;
}

/*  */
#try-it-btn {
    top: calc(50%);
    right: calc(50% + 20%);
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

#try-it-svg {
    width: 14%;
    max-width: 200px;
    height: auto;
    position: absolute;
    top: calc(50%);
    right: 54%;
}

/*  */
#quality-btn {
    top: calc(50% + 20%);
    left: calc(50% + 20%);
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

#quality-svg {
    width: 14%;
    max-width: 200px;
    height: auto;
    position: absolute;
    bottom: calc(50% - 20%);
    left: 54%;
}

/* ---------------------------------------------------------------------------------- */
/* ------------------------------- HIDDEN SECTIONS ---------------------------------- */
/* ---------------------------------------------------------------------------------- */
#quality-section {
    width: 80%;
}

#try-it-section {
    text-align: left;
}

.hidden-sections {
    display: none;
    font-size: clamp(1rem, 2vw, 5vmin);
    margin: 8vh auto 0 auto;
    width: 60%;
    max-width: 950px;
    height: 100%;
    max-height: 0;
    position: relative;
    animation: reveal 3s ease 1s forwards;
    -webkit-animation: reveal 3s ease 1s forwards;
    overflow-y: scroll;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.hidden-sections>*:last-child {
    margin-bottom: 300px;
}

.hidden-sections::-webkit-scrollbar {
    display: none;
}

.hidden-sections button {
    position: relative;
    border: 1px solid white;
    background: linear-gradient(to right, white 45%, #544092 50%, #14a9e2 65%, #6dc2b4 100%);
    background-size: 220% 100%;
    background-position: right;
    font-size: clamp(1rem, 2vw, 1.9rem);
    padding: clamp(10px, 1vw, 1vw);
    border-radius: 5vw;
    -webkit-border-radius: 5vw;
    -moz-border-radius: 5vw;
    -ms-border-radius: 5vw;
    -o-border-radius: 5vw;
    transition: background-position 0.2s linear, color 0.4s linear;
    -webkit-transition: background-position 0.2s linear, color 0.4s linear;
    -moz-transition: background-position 0.2s linear, color 0.4s linear;
    -ms-transition: background-position 0.2s linear, color 0.4s linear;
    -o-transition: background-position 0.2s linear, color 0.4s linear;
    color: white;
    width: fit-content;
    font-family: Cunia;
    margin-top: clamp(30px, 3vmin, 50px);
}

.hidden-sections button:hover {
    background-position: left;
    color: #14a9e2;
}

#back {
    position: fixed;
    top: 10vh;
    left: 0vw;
    background: none;
    border: none;
    height: fit-content;
    width: 100px;
    display: none;
    transition: display 0.5s linear;
    -webkit-transition: display 0.5s linear;
    -moz-transition: display 0.5s linear;
    -ms-transition: display 0.5s linear;
    -o-transition: display 0.5s linear;
    animation: appearLeft 0.8s linear;
    -webkit-animation: appearLeft 0.8s linear;
    border-radius: 0px 10px 10px 0px;
    padding: 10px 20px 10px 25px;
    background: linear-gradient(to top right, #544092 5%, #14a9e2 50%, #6dc2b4 100%);
    -webkit-border-radius: 0px 10px 10px 0px;
    -moz-border-radius: 0px 10px 10px 0px;
    -ms-border-radius: 0px 10px 10px 0px;
    -o-border-radius: 0px 10px 10px 0px;
}

#back:hover {
    cursor: pointer;
}

#zinc-icon,
#sodium-icon,
#same-icon {
    width: 20%;
    min-width: 100px;
}

#same-icon {
    width: 10%;
    min-width: 50px;
}

/* ---------------------------------------------------------------------------------- */
/* ------------------------------- ANIMATIONS --------------------------------------- */
/* ---------------------------------------------------------------------------------- */
@keyframes stamp {
    0% {
        opacity: 0;
        scale: 3;
    }

    50% {
        opacity: 0.5;
        scale: 3;
    }

    100% {
        opacity: 1;
        scale: 1;
    }
}

@keyframes appearLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
    }
}

@keyframes reveal {
    0% {
        max-height: 0;
    }

    100% {
        max-height: 100vh;
    }
}

@keyframes flicker {
    0% {
        border-color: #1e1935;
        color: #1e1935;
        text-shadow: 0 0 0;
    }

    10% {
        border-color: #1e1935;
        color: #1e1935;
        text-shadow: 0 0 0;
    }

    13% {
        border-color: #FFFFFF;
        color: #FFFFFF;
        text-shadow: 0 0 5px var(--gradient-purple), 0 0 10px var(--gradient-purple), 0 0 15px var(--gradient-purple), 0 0 20px var(--gradient-blue1), 0 0 30px var(--gradient-blue1), 0 0 40px var(--gradient-blue1);
    }

    18% {
        border-color: #1e1935;
        color: #1e1935;
        text-shadow: 0 0 0;
    }

    32% {
        border-color: #1e1935;
        color: #1e1935;
        text-shadow: 0 0 0;
    }

    33% {
        border-color: #FFFFFF;
        color: #FFFFFF;
        text-shadow: 0 0 5px var(--gradient-purple), 0 0 10px var(--gradient-purple), 0 0 15px var(--gradient-purple), 0 0 20px var(--gradient-blue1), 0 0 30px var(--gradient-blue1), 0 0 40px var(--gradient-blue1);
    }

    33.5% {
        border-color: #1e1935;
        color: #1e1935;
        text-shadow: 0 0 0;
    }

    34% {
        border-color: #FFFFFF;
        color: #FFFFFF;
        text-shadow: 0 0 5px var(--gradient-purple), 0 0 10px var(--gradient-purple), 0 0 15px var(--gradient-purple), 0 0 20px var(--gradient-blue1), 0 0 30px var(--gradient-blue1), 0 0 40px var(--gradient-blue1);
    }

    34.5% {
        border-color: #1e1935;
        color: #1e1935;
        text-shadow: 0 0 0;
    }

    35% {
        border-color: #FFFFFF;
        color: #FFFFFF;
        text-shadow: 0 0 5px var(--gradient-purple), 0 0 10px var(--gradient-purple), 0 0 15px var(--gradient-purple), 0 0 20px var(--gradient-blue1), 0 0 30px var(--gradient-blue1), 0 0 40px var(--gradient-blue1);
    }

    80% {
        border-color: #1e1935;
        color: #1e1935;
        text-shadow: 0 0 0;
    }

    100% {}
}

/* ---------------------------------------------------------------------------------- */
/* ------------------------------- MOBILE VERSION ----------------------------------- */
/* ---------------------------------------------------------------------------------- */
@media only screen and (max-width: 1000px) {
    #title{
        padding-top: 5vh;
    }

    #logo {
        width: 15vw;
    }

    #zinc-stamp {
        width: 20vw;
    }

    #back {
        width: 50px;
        padding: 6px 10px 4px 15px;
    }
}